.header {
  width: 100%;
  height: auto;
}

.header__nav {
  position: fixed;
  left: calc(50% - 200px);
  top: 4px;
  background: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 40px;
  z-index: 3;
  border-radius: 25px;
  border: 1px solid --text-nFocus;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.header__nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.header__nav ul li {
  display: flex;
  gap: 12px;
}
.separator {
  width: 1px;
  height: 25px;
  background: var(--text-nFocus);
}

.header__nav ul li a {
  text-decoration: none;
  color: white;
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  transition: 0.3s;
}

.header__nav ul li a:hover {
  color: var(--text-focus);
}

.header__nav ul li a.header__active {
  color: var(--text-focus);
}

@media (width < 800px) {
  .header__nav {
    position: relative;
  }
}
