.footer {
    color: white;
    padding: 20px;
    display: grid;
    place-items: center;
}

.footer__social {
    margin-top: 12px;
}

.footer svg {
    width: 24px;
    height: 24px;
    color: white;
    margin-right: 4px;
    transition: all 0.3s ease;
}

.footer svg:hover {
    color: var(--text-focus);
}